.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

form {
  padding: 30px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.map {
  height: 700px;
}

.data-box {
  padding: 30px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.box {
  padding: 6px 10px;
  margin: 3px 0;
  background: #159;
  color: #fff;
  min-height: 36px;
  font-size: 16px;
}